<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>home</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content">
        <h2>venues</h2>
        <div class="cols2">
            <div th:text="|${nrOfVenues} venues found|">10 venues</div>
            <div th:unless="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/venuelist/filter}">filter</a>
            </div>
            <div th:if="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/venuelist}">-</a>
                <form>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                    <h3>capacity</h3>
                    <div class="onefilter">
                        <label for="minCapacity" class="filtername">min</label>
                        <input type="number" id="minCapacity" name="minCapacity" value="0" step="50"> persons
                    </div>
                </form>
            </div>
            <div class="venuelist">
                <div th:each="venue: ${venues}">
                    <a class="buttonLook mediumButton"
                       th:href="@{|/venuedetails/${venue.id}|}">
                        <span th:text="${venue.venueName}">venue name </span>
                        <div th:text="|capacity ${venue.capacity}|" class="venueExtraInfo">maxNrOfPersons</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>


</body>
</html>