<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>home</title>
</head>
<body>
<div class="nav">
    <h1>Let's Party!</h1>
    <div class="navbuttons">
        <a class="buttonLook menuButton" th:href="@{/home}">home</a>
        <a class="buttonLook menuButton" th:href="@{/venuelist}">venues</a>
        <a class="buttonLook menuButton" th:href="@{/about}">about</a>
    </div>
</div>

<div class="row1">
    <div class="row1content">
        <h2>venues</h2>
        <div><a class="buttonLook mediumButton" th:href="@{/venuedetails/1}">venue 1</a></div>
        <div><a class="buttonLook mediumButton" th:href="@{/venuedetails/2}">venue 2</a></div>
        <div><a class="buttonLook mediumButton" th:href="@{/venuedetails/3}">venue 3</a></div>
    </div>
</div>

<div class="bottom">
    <p>copyright ThomasMore</p>
</div>

</body>
</html>