<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>home</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content">
        <h2>venues</h2>
        <div class="filters">
            <div class="onefilter">
                outdoor:
                <a  class="buttonLook filterButton" th:classappend="(${filterOutdoor}=='yes') ? 'activeFilter' : ''"
                    th:href="@{/venuelist/outdoor/yes}">yes</a>
                <a  class="buttonLook filterButton" th:classappend="(${filterOutdoor}=='no') ? 'activeFilter' : ''"
                    th:href="@{/venuelist/outdoor/no}">no</a>
                <a  class="buttonLook filterButton" th:classappend="(${filterOutdoor}=='all') ? 'activeFilter' : ''"
                    th:href="@{/venuelist}">all</a>
            </div>
        </div>
        <div th:each="venue: ${venues}">
            <a class="buttonLook mediumButton"
               th:href="@{|/venuedetails/${venue.id}|}"
               th:text="${venue.venueName}">venue name</a>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>


</body>
</html>